body {
    margin-top: 20px;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: left;
    background-color: #e2e8f0;
    /* background: -webkit-linear-gradient(left, #ce1212, orange);     */
    /* background-image: url('../assets/img/profile/back.jpg'); */


}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.edit-btn {
    font-weight: 600;
    color: black;
    text-decoration: none;


}

.changes {
    font-size: 14px;
    color: #fff;
    background: var(--color-primary);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    transition: 0.3s;
}



.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -35%;
    height:10vh;
    width: 33%;
    border: none;
    font-size: 15px;
    background: #212529b8;
    border-radius: 50%;
    text-align: center;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    width: 100%;
 }

 /* .profile-img {
    position: relative;
  }
  
  .change-photo-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .change-photo-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .change-photo {
    display: none;
  }
  
  .profile-img:hover .change-photo-btn {
    display: block;
  } */